.popUpFrame {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 700px;
  background-color: var(--color-white);
  padding: 20px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.type {
  display: inline-block;
  border: 0;
  padding: 5px 10px;
  background-color: var(--color-palegoldenrod-200);
  border-radius: 20px;
  font-size: 30px;
  font-weight: 700;
}

.icon {
  width: 25px;
  flex-shrink: 0;
  cursor: pointer;
}

.infoContainer, .articleContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
}
.infoTitle {
  margin: 0 0;
  padding-left: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: inherit;
  font-size: 25px;
}
.input, .article {
  align-self: stretch;
  color: var(--color-black);
  border: 3px solid black;
  outline: 0;
  background-color: var(--color-white);
  height: 50px;
  border-radius: 20px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  color: var(--color-black);
  min-width: 200px;
  padding: 0 15px;
}
.article {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.articleContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Submit {
  text-align: center;
  background-color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}












.b {
  position: relative;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.05em;
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  min-width: 115px;
  white-space: nowrap;
}
.wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-sm);
  background-color: var(--color-palegoldenrod-200);
  border-radius: var(--br-xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper:hover {
  background-color: var(--color-darkseagreen);
}
.riarrowGoBackLineIcon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameChild,
.i {
  position: relative;
}
.i {
  letter-spacing: 0.05em;
  display: inline-block;
  font-weight: 700;
  min-width: 42px;
}
.frameChild {
  align-self: stretch;
  height: 46px;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.frameItem,
.i1 {
  position: relative;
}
.i1 {
  letter-spacing: 0.05em;
  display: inline-block;
  font-weight: 700;
  min-width: 83px;
  white-space: nowrap;
}
.frameItem {
  border: 2px solid var(--color-black);
  outline: 0;
  background-color: var(--color-gray);
  align-self: stretch;
  height: 50px;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  min-width: 250px;
}
.group {
  align-self: stretch;
  height: 79px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.i2 {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
  font-weight: 700;
  min-width: 108px;
  white-space: nowrap;
}
.container,
.frameInner {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameInner {
  border: 2px solid var(--color-black);
  background-color: var(--color-gray);
  height: 290px;
  width: auto;
  outline: 0;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-xs);
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: var(--font-size-xl);
  color: var(--color-silver);
}
.container {
  flex-direction: column;
  gap: var(--gap-4xs);
}
.b1 {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  min-width: 42px;
}
.frame,
.frame:hover {
  box-sizing: border-box;
}
.frame {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-8xs-5) var(--padding-mini);
  background-color: var(--color-gray);
  height: 37px;
  width: 76px;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame:hover {
  background-color: var(--color-gainsboro-200);
  border: 2px solid var(--color-darkslategray);
}
.div,
.frameGroup,
.frameWrapper,
.inner {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
}
.frameWrapper {
  width: 436px;
  height: 33px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.div,
.frameGroup,
.inner {
  justify-content: flex-start;
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xl);
}
.div,
.inner {
  box-sizing: border-box;
}
.inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-4xs) 0 var(--padding-5xs-5);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.div {
  width: 501px;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-lgi) var(--padding-mini) var(--padding-lgi)
    var(--padding-base-5);
  gap: var(--gap-17xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 450px) {
  .frameParent {
    flex-wrap: wrap;
  }
  .b1,
  .i,
  .i1,
  .i2 {
    font-size: var(--font-size-base);
  }
  .div {
    gap: var(--gap-lg);
  }
}
