.frame {
  background-color: var(--color-white);
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  padding-bottom: 30px;
  border-bottom: black 2px solid;
}

.headContainer {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 20px 20px 35px 20px;
}

.logo {
  display: inline-block;
}

.imageContainer {
  display: flex;
  align-self: center;
  gap: 25px;
}

.image {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.time {
  margin: 25px;
  font-family: inherit;
  font-size: 30px;
  letter-spacing: 0.05em;
}

.main {
  display: flex;
  flex-direction: column;
}

.text {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}