.frame {
  background-color: var(--color-white);
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  border: solid blue 2px;
}

.header {
  padding-bottom: 50px;
  border-bottom: black 2px solid;
}

.headContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeIcon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.logo {
  display: inline-block;
}

.title {
  display: inline-block;
  align-self: flex-end;
  margin: 0 auto 0 20px;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: inherit;
  font-size: 40px;
  white-space: nowrap;
}

.category {
  margin-top: 20px;
  align-self: flex-start;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: inherit;
  font-size: 35px;
}

.matchingContainer {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  margin: 30px;
}

.matchingWait, .matchingFinish {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 20px;
  width: 300px;
  padding: 20px;
  gap: 20px;
  flex-shrink: 1;
  background-color: var(--color-gainsboro);
}
.matchingFinish {
  background-color: var(--color-khaki);
}

.sche {
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: inherit;
  max-width: 260px;
  font-size: 15px;
}
.t {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.05em;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0;
  padding: 0 0;
  max-width: 260px;
}
.type {
  border: 0;
  padding: 5px 10px;
  margin: 7px;
  background-color: var(--color-palegoldenrod-100);
  border-radius: 20px;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
}
.status {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.05em;
  max-width: 260px;
}







.frameChild,
.inner {
  box-sizing: border-box;
  max-width: 100%;
}
.frameChild {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-black);
}
.inner {
  align-self: stretch;
  height: 13px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 12.9px;
}
.h2,
.vs4 {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
}
.h2 {
  margin: 0;
  height: 42px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  min-width: 67px;
}
.vs4 {
  height: 24px;
  white-space: nowrap;
}
.vs471400Wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-59xl) var(--padding-2xs);
}
.p,
.p1 {
  margin: 0;
}
.b,
.b1 {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
}
.b {
  align-self: stretch;
  height: 60px;
  font-size: var(--font-size-25px);
}
.b1 {
  font-size: var(--font-size-20px);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  min-width: 77px;
  white-space: nowrap;
}
.wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs-5) var(--padding-sm);
  background-color: var(--color-palegoldenrod-100);
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
}

.frameDiv,
.frameWrapper,
.wrapper {
  display: flex;
  align-items: flex-start;
}
.frameWrapper {
  width: 397px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frameDiv {
  margin-right: -170px;
  width: 414px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  max-width: 450%;
  flex-shrink: 0;
}
.b2 {
  position: relative;
  font-size: var(--font-size-25px);
  letter-spacing: 0.05em;
  line-height: 30.4px;
  display: inline-block;
  min-width: 73px;
}
.frameContainer {
  width: 378px;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-17xl) 143px var(--padding-mid);
  box-sizing: border-box;
  gap: var(--gap-14xl);
  max-width: 100%;
  cursor: pointer;
}
.frameGroup,
.parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-12xl);
  font-size: var(--font-size-20px);
}
.parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.h21,
.vs41 {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
  white-space: nowrap;
}
.h21 {
  margin: 0;
  font-size: inherit;
  line-height: 42.4px;
  font-weight: 700;
  font-family: inherit;
  min-width: 67px;
}
.vs41 {
  height: 24px;
}
.vs471400Container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-59xl);
}
.p2,
.p3 {
  margin: 0;
}
.b3,
.b4 {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
}
.b3 {
  align-self: stretch;
  height: 60px;
}
.b4 {
  font-size: var(--font-size-20px);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  min-width: 77px;
  white-space: nowrap;
}

.frameWrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameWrapper1 {
  width: 397px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.container,
.frameParent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  align-self: stretch;
  gap: var(--gap-lgi);
  max-width: 100%;
  font-size: var(--font-size-25px);
}
.frameParent3 {
  margin-left: -183px;
  width: 414px;
  gap: var(--gap-11xl);
  max-width: 782%;
  flex-shrink: 0;
}
.b5 {
  position: relative;
  font-size: var(--font-size-25px);
  letter-spacing: 0.05em;
  line-height: 30.4px;
  display: inline-block;
  min-width: 48px;
}
.frameParent2 {
  width: 378px;
  border-radius: var(--br-xl);
  background-color: var(--color-khaki);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-17xl) 151px var(--padding-mid) 174px;
  box-sizing: border-box;
  gap: var(--gap-14xl);
  max-width: 100%;
  cursor: pointer;
}
.frameParent1,
.group {
  align-self: stretch;
  max-width: 100%;
}
.frameParent1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-13xl);
  font-size: var(--font-size-20px);
}
.group {
  flex-direction: column;
  gap: var(--gap-mid);
}
.child,
.div,
.frameParent,
.group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: 77px;
  max-width: 100%;
}
.child,
.div {
  box-sizing: border-box;
}
.child {
  width: 930px;
  flex-direction: row;
  padding: 0 var(--padding-52xl);
  max-width: 100%;
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-11xl) 0 var(--padding-50xl);
  gap: var(--gap-17xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-35px);
  color: var(--color-black);
  font-family: var(--font-inter);
}