.frame {
  background-color: var(--color-white);
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

.header {
  padding-bottom: 30px;
  border-bottom: black 2px solid;
}

.headContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeIcon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.logo {
  display: inline-block;
}

.title {
  display: inline-block;
  align-self: flex-end;
  margin: 0 auto 0 20px;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: inherit;
  font-size: 40px;
  white-space: nowrap;
}

.category {
  margin-top: 20px;
  align-self: flex-start;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: inherit;
  font-size: 35px;
}

.matchingContainer {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin: 30px;
  overflow-y: auto;
}

.matchingWait, .matchingFinish {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 20px;
  width: 300px;
  padding: 20px;
  gap: 20px;
  flex-shrink: 1;
  background-color: var(--color-gainsboro);
}
.matchingFinish {
  background-color: var(--color-khaki);
}

.sche {
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: inherit;
  max-width: 260px;
  font-size: 15px;
}
.t {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.05em;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0;
  padding: 0 0;
  max-width: 260px;
}
.type {
  border: 0;
  padding: 5px 10px;
  margin: 7px;
  background-color: var(--color-palegoldenrod);
  border-radius: 20px;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
}

.status {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.05em;
  max-width: 260px;
}