.fullScreen {
  background-color: var(--color-white);
  overflow: auto;
}

.frame {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: black 2px solid;
}

.title {
  margin: 0 0;
  display: inline-block;
  align-self: center;
  
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: inherit;
  font-size: 40px;
}

.imageContainer {
  display: flex;
  align-self: center;
}

.homeIcon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 50px;
}
.profileIcon {
  height: 200px;
  width: 200px;
}

.info{
  display: flex;
  justify-content: center;
}
.infoBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  gap: 30px;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 400px;
}
.infoTitle {
  margin: 0 0;
  padding-left: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: inherit;
  font-size: 27px;
}

.inputDisabled  {
  align-self: stretch;
  color: var(--color-black);
  border: 4px solid rgba(0, 0, 0, 0);
  outline: 0;
  background-color: var(--color-gainsboro);
  height: 55px;
  border-radius: 40px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  color: var(--color-black);
  min-width: 200px;
  padding: 0 15px;
}

.inputAble {
  align-self: stretch;
  color: var(--color-black);
  border: 4px solid black;
  outline: 0;
  background-color: var(--color-white);
  height: 55px;
  border-radius: 40px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  color: var(--color-black);
  min-width: 200px;
  padding: 0 15px;
}

.nicknameInput {
  align-self: center;
  color: var(--color-black);
  outline: 0;
  height: 40px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  min-width: 200px;
  place-content: black;
  border: 4px solid rgba(0, 0, 0, 0);
}
.nickname {
  display: flex;
  align-self: stretch;
  color: var(--color-black);
  border: 4px solid black;
  outline: 0;
  background-color: var(--color-white);
  height: 55px;
  border-radius: 40px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  color: var(--color-black);
  min-width: 200px;
  padding: 0 15px;
}
.dupCheck {
  display: flex;
  align-self: center;
  cursor: pointer;
  border-left: black 3px solid;
  padding-left: 10px;
}

.plus {
  margin-left: 5px;
  width: 30px;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  font-size: 20px;
  font-family: inherit;
  margin: 0 0;
  border: 3px tomato solid
}

.list > li {
  list-style-type: none;
}






.parent {
  /* width: 770px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%; */

  position: absolute;
  top: 20px;
  right: 20px;
}


.b,
.qwertykookminackr {
  position: relative;
  letter-spacing: 0.05em;
  white-space: nowrap;
}
.b {
  display: inline-block;
  min-width: 78px;
}
.qwertykookminackr {
  color: inherit;
  text-decoration: none;
}
.group,
.qwertykookminackrWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.qwertykookminackrWrapper {
  flex-direction: row;
  font-size: var(--font-size-4xl);
}
.group {
  flex-direction: column;
}
.b1,
.div1 {
  position: relative;
  letter-spacing: 0.05em;
  display: inline-block;
  min-width: 52px;
}
.div1 {
  min-width: 66px;
  white-space: nowrap;
}
.container,
.frameParent,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  font-size: var(--font-size-4xl);
}
.container,
.frameParent {
  flex-direction: column;
  gap: var(--gap-8xs);
}
.frameParent {
  gap: var(--gap-10xl);
}


@media screen and (max-width: 1050px) {
  .h2 {
    font-size: var(--font-size-17xl);
  }
}

@media screen and (max-width: 450px) {
  .h2 {
    font-size: var(--font-size-27px);
  }
  .parent {
    flex-wrap: wrap;
  }
  .b {
    font-size: var(--font-size-3xl);
  }
  .qwertykookminackr {
    font-size: var(--font-size-lg);
  }
  .b1 {
    font-size: var(--font-size-3xl);
  }
  .div1 {
    font-size: var(--font-size-lg);
  }
  .div {
    height: auto;
  }
}
