.h11 {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: 0.05em;
    font-weight: 700;
    font-family: inherit;
    align-self: stretch;
    cursor: pointer;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    width: 95px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-6xs) 0 0;
    box-sizing: border-box;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
}