.frame {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    gap: 30px;
    background-color: var(--color-white);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}

.imageContainer {
    display: flex;
    justify-content: flex-start;
    height: 55px;
}

.image {
    display: flex;
    width: auto;
    height: 100%;
    object-fit: contain;
}

.scheContainer {
    display: flex;
    overflow-x: auto;
    padding: 10px 30px;
    gap: 30px;
}

.sche {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    align-items: center;
    background-color: var(--color-khaki);
    border-radius: 10px;
    padding: 10px;
}

.scheText, .date {
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.date {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px 10px;
}