.mainLogoutHead {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  flex-direction: column;
  /* padding: 0 var(--padding-17xl) var(--padding-lg-1); */
  font-family: var(--font-inter);
}

.parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  width: 1400px;
  flex-direction: column;
  gap: var(--gap-12xl);
  height: 200px;
}

.h1 {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  /* flex-direction: row; */
  justify-content: space-between;
  margin-right: 70px;
  height: 40px;
}

.h2 {
  padding: 50px;
  box-sizing: border-box;
  font-size: 40px;
  color: var(--color-black);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.b {
  height: 54px;
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
}

@media screen and (max-width: 675px) {
  .frameParent {
    gap: var(--gap-mini);
  }
}
